<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Mode" value="sitemap" />
    <add key="URL" value="https://yrfrevamp.idealake.com/" />
    <add key="SitemapURL" value="https://yrfrevamp.idealake.com//sitemap.xml" />
    <add key="ServiceName" value="ilsmartsearch" />
    <add key="IndexName" value="crawlersearch" />
    <add key="AdminApiKey" value="30C2222915C8547241375BBEFDC47A66" />
    <add key="MaxPagesToIndex" value="1550" />
    <add key="LogPath" value="ErrorLogs" />
    <add key="ProcesslogPath" value="ProcesslogPath" />
    <add key="IndexPath" value="JsonIndex" />
    <add key="SynonymsPath" value="Synonyms" />
    <add key="LicenceKey" value="33EF72B7-DC65-4BF8-87E2-D9909FCD6780" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=ILDOT526;Initial Catalog=AzureSearch;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>