<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Mode" value="web" />
    <add key="URL" value="http://sbicard.com" />
    <add key="ServiceName" value="axistest" />
    <add key="IndexName" value="crawlersearch" />
    <add key="AdminApiKey" value="5158289B24ACB437EF799B6228901CC1" />
    <add key="MaxPagesToIndex" value="100" />
    <add key="LogPath" value="ErrorLogs" />
    <add key="ProcesslogPath" value="ProcesslogPath" />
    <add key="IndexPath" value="JsonIndex" />
    <add key="SynonymsPath" value="Synonyms" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>